<%- include('../partials/header') %> 

<form id="add-post" action="/musics" method="POST">
    <label for="link">Link your music</label>
    <input type="text" name="link">
    <label for="instrument">Instrument</label>
    <input type="text" name="instrument" id="">
    <label for="comment">Comment</label>
    <input type="text" name="comment" id="comment">
    <input type="submit" value="Submit">
</form>

<%- include('../partials/footer') %> 

