<%- include('./partials/header') %> 

<p>
    Welcome to your new practice room! When we practice here we are practicing to become better musicians. 
    Practicing is difficult though. Many times you don't even know where to start improving. With this site
    you can get a new perspective and improve your playing with the help of others. Remember to be nice to others 
    and ENJOY playing music. This is an art that we all love and we should be able to appreciate our own. 
</p>


<%- include('./partials/footer') %> 

