body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(50, 2, 85);
  height: 100vh;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.user-image {
  height: 30px;
  width: auto;
  border-radius: 50%;
}

nav {
  background: rgb(4,92,184);
  background: linear-gradient(143deg, rgba(4,92,184,1) 42%, rgba(96,5,154,1) 50%, rgba(252,0,255,1) 58%);
}
.col-sm {
  font-size: 30px;
}

.col-sm-8 {
  font-size: 20px;
}
.col-sm, .col-sm-8, .col-sm-4 {
  color:#00B7FF
}
.container {
  border-style: double;
  border-color: #00B7FF;
  margin: 20px auto;
}