body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #24201E;
  height: 100vh;
  color: #060504;
}

a {
  color: #736155;
  text-decoration: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.user-image {
  height: 30px;
  width: auto;
  border-radius: 50%;
}

nav {
  background: rgb(4,92,184);
  background: linear-gradient(143deg, #FDDBC2 42%, #24201E 50%, #060504 58%);
}

.container {
  border-style: solid;
  border-color: #060504;
  background-color: #FDDBC2;
  margin: 20px auto;
  border-radius: 10px;
}

.container-comment {
  margin: 1vh;
  width: 100%;
}

.user-display {
  color: #736155;
  margin-bottom: 10px;
  font-size: 20px;
}

.edit-delete {
  display: flex;
  justify-content: flex-end;
}

.please-be-centered {
  display: flex;
  justify-content: center;
}

.user-comment {
  color: #060504;
  font-size: 30px;
}

.spacer {
  background-color: #FDDBC2;
  border-radius: 10px;
  width: 80%;
  margin: 3vh 10vw;
  padding: 1vw;
}

.button-mine {
  border-color: #060504;
  background-color: transparent;
  color: #060504;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.button-edit-delete {
  border-color: #060504;
  background-color: transparent;
  color: #060504;
  border-radius: 10px;
  padding: 10px;
  margin: 0px;
}

.instrument {
  color:#736155;
  font-size: 15px;
}

.link {
  padding: 10px 50px;
  border-radius: 15px;
}

p {
  margin: 30px; 
  font-size: 30px;
  color: #FDDBC2
}