body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: peachpuff;
  height: 100vh;
  color: rgb(219, 78, 12);
}

a {
  color: rgb(219, 78, 12);
  text-decoration: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.user-image {
  height: 30px;
  width: auto;
  border-radius: 50%;
}

nav {
  background: rgb(4,92,184);
  background: linear-gradient(143deg, rgba(4,92,184,1) 42%, rgba(96,5,154,1) 50%, rgba(252,0,255,1) 58%);
}

.container {
  border-style: solid;
  border-color: rgb(219, 78, 12);
  margin: 20px auto;
  border-radius: 10px;
}

.container-comment {
  width: 100%;
}

.user-display {
  color: rgb(219, 78, 12);
  margin-bottom: 10px;
  font-size: 20px;
}

.edit-delete {
  display: flex;
  justify-content: flex-end;
}

.user-comment {
  color: rgb(219, 78, 12);
  font-size: 30px;
}

.spacer {
  padding-left: 13vw;
  padding-right: 13vw;
}

.button-mine {
  border-color: rgb(219, 78, 12);
  background-color: transparent;
  color: rgb(219, 78, 12);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.button-edit-delete {
  border-color: rgb(219, 78, 12);
  background-color: transparent;
  color: rgb(219, 78, 12);
  border-radius: 10px;
  padding: 10px;
  margin: 0px;
}

.instrument {
  color:rgb(219, 78, 12);
  font-size: 15px;
}

.link {
  padding: 10px 50px;
  border-radius: 15px;
}

p {
  margin: 30px; 
  font-size: 30px;
}